:root{
  --main-logo-color: #2196F3;
  --regular-text-color: #212121;
  --specific-text-color: #757575;
  --additional-text-color: #ffffff;
  --main-font-family: 'Roboto', sans-serif;
  --additional-font-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--specific-text-color);
}

/* ========== SERVICES ========== */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ========== END SERVICES ========== */


/* ========== NAVIGATION ========== */
.main-logo {
  font-family: var(--additional-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.main-logo span {
  color: var(--main-logo-color);
}

.navigation-list {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.navigation-list li,
.header-contacts-list li {
  list-style-type: none;
}

.navigation-list-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--regular-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-contacts-list-link:hover,
.header-contacts-list-link:focus {
  color: var(--main-logo-color);
}

.current {
  color: var(--main-logo-color);
}

.header-contacts-list-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--specific-text-color);
  text-decoration: none;
}

/* ========== END NAVIGATION ========== */


/* ========== MAIN SECTION ========== */

/* hero section */
.hero-section {
  background: #2F303A;
}

.hero-section h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-text-color);
}

.hero-section button {
  font-family: var(--additional-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color:var(--additional-text-color);
  background: #2196F3;
  box-shadow: 0px 4px 4px 
            rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

/* end hero section */


/* features section */
.features-list h3 {
  font-weight: 700;
  line-height: 1.143;
  color: var(--regular-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list li {
  list-style-type: none;
}

.features-list p {
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* end features section */


/* what we do section */
.what-we-do-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--regular-text-color);
}

.what-we-do-section-img-list li {
  list-style-type: none;
}

/* end what we do section */


/* our team section */
.team-section {
  background: #F5F4FA;
}

.team-section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--regular-text-color);
}

.team-section-about-list li {
  list-style-type: none;
}

.team-section-about-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--regular-text-color);
}

.team-section-about-list p {
  font-size: 16px;
  line-height: 1.357;
  letter-spacing: 0.03em;
}

/* END our team section */


/* ========== FOOTER ========== */
.footer {
  background: #2F303A;
}

.footer-logo {
  font-family: var(--additional-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--additional-text-color);
}

.footer-logo span {
  color: var(--main-logo-color);
}

.address-info-list li {
  list-style-type: none;
}

.footer-contacts-link{
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
  text-decoration: none;
}

.footer-tel-mail {
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ========== END FOOTER ========== */


/* PORTFOLIO STYLES */


/* filters section */
.filters-btn-list button {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--regular-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
              0px 1px 2px rgba(0, 0, 0, 0.08), 
              0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.filters-btn-list button:hover,
.filters-btn-list button:focus {
  background: var(--main-logo-color);
  color: var(--additional-text-color);
}

.filters-btn-list {
  list-style-type: none;
}

/* end filters section */


/* cards section */
.cards-section-list {
  list-style-type: none;
}

.cards-section-list a {
  text-decoration: none;
}

.cards-section-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--regular-text-color);
}

.cards-section-list p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--specific-text-color);
}

/* end cards section */